<section class="section-3">
    <h1 class="section-heading">Product</h1>
    <div class="list">
        <div class="pic">
            <img src="./../../assets/images/01.jpg" class="mobile-img">
        </div>
        <div class="pic">
            <img src="./../../assets/images/02.jpg" class="mobile-img">
        </div>            
        <div class="pic">
            <img src="./../../assets/images/03.jpg" class="mobile-img">
        </div>
        <div class="pic">
            <img src="./../../assets/images/04.jpg" class="mobile-img">
        </div>
    </div>
</section>
